body {
  margin-top: 90px;
}

:target::before {
  content: "";
  display: block;
  height: 80px; /* fixed header height*/
  margin: -80px 0 0; /* negative fixed header height */
}

@media (min-width: 768px) {
    .navbar .nav-item:hover .nav-link { }
    .navbar .nav-item:hover .dropdown-menu { display: block; }
}

/*.nav-loc {
  visibility: hidden;
}
*/